src/Tests/ServiceClient/Service References/MyService/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://loewenbraeuservice.ip-connect.de/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s1="http://microsoft.com/wsdl/types/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://loewenbraeuservice.ip-connect.de/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://loewenbraeuservice.ip-connect.de/">
      <s:import namespace="http://microsoft.com/wsdl/types/" />
      <s:element name="TodaysMenu">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="requestedDate" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="fingerprint" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TodaysMenuResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TodaysMenuResult" type="tns:DishesOfTheDay" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="DishesOfTheDay">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="DishOfTheDay" type="tns:ArrayOfCategory" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfCategory">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="category" nillable="true" type="tns:category" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="category">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Title" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Dishes" type="tns:ArrayOfDish" />
          <s:element minOccurs="0" maxOccurs="1" name="Subtitle" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfDish">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="dish" nillable="true" type="tns:dish" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="dish">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Headline" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Description" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Price" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="CreateReservation">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="when" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="seats" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="mobile" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="fingerprint" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="advice" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="confirmcode" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreateReservationResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CreateReservationResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetReservationById">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="reservationId" type="s1:guid" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetReservationByIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetReservationByIdResult" type="tns:Reservation" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Reservation">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ReservationId" type="s1:guid" />
          <s:element minOccurs="1" maxOccurs="1" name="ReservationTime" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="Fingerprint" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Mobile" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="GuestName" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Seats" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Advice" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ConfirmCode" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Status" type="tns:StatusArt" />
          <s:element minOccurs="0" maxOccurs="1" name="DeclineReason" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="LastChange" type="s:dateTime" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="StatusArt">
        <s:restriction base="s:string">
          <s:enumeration value="None" />
          <s:enumeration value="Requested" />
          <s:enumeration value="ConfirmedByRestaurant" />
          <s:enumeration value="ConfirmedByCustomer" />
          <s:enumeration value="DeclinedByRestaurant" />
          <s:enumeration value="DeclinedAfterConfirmedByRestaurant" />
          <s:enumeration value="AbortedByCustomer" />
        </s:restriction>
      </s:simpleType>
      <s:element name="CreateReservationByObject">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="tmpReservation" type="tns:Reservation" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreateReservationByObjectResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CreateReservationByObjectResult" type="s1:guid" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetReservationConfirm">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="reservationId" type="s1:guid" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetReservationConfirmResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SetReservationConfirmResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IsDeclinedByRestaurant">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="reservationId" type="s1:guid" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IsDeclinedByRestaurantResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="IsDeclinedByRestaurantResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetReservationConfirmCustomer">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="reservationId" type="s1:guid" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetReservationConfirmCustomerResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SetReservationConfirmCustomerResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetDeclining">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="reservationId" type="s1:guid" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetDecliningResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SetDecliningResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetReservationsByStatus">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="status" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetReservationsByStatusResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetReservationsByStatusResult" type="tns:ArrayOfReservation" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfReservation">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Reservation" nillable="true" type="tns:Reservation" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetEvents">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="fingerprint" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetEventsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetEventsResult" type="tns:ArrayOfEvent" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfEvent">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Event" nillable="true" type="tns:Event" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Event">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ActivatedAt" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="Date" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="DateOrder" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="Description" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ExpiresAt" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="IsActivated" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="ReservationLink" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ThumbnailLink" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Title" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetPictures">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="fingerprint" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPicturesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetPicturesResult" type="tns:ArrayOfPicture" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfPicture">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Picture" nillable="true" type="tns:Picture" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Picture">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Description" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Title" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FileName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Link" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="SortOrder" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetVideos">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="fingerprint" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetVideosResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetVideosResult" type="tns:ArrayOfVideo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfVideo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Video" nillable="true" type="tns:Video" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Video">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Description" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FileName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Link" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="SortOrder" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="ThumbnailLink" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetQuestion">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetQuestionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetQuestionResult" type="tns:Question" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Question">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Answers" type="tns:ArrayOfAnswer" />
          <s:element minOccurs="0" maxOccurs="1" name="Description" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Number" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Points" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Serie" type="tns:Serie" />
          <s:element minOccurs="1" maxOccurs="1" name="SerieId" type="s:long" />
          <s:element minOccurs="1" maxOccurs="1" name="Category" type="tns:QuestionCategory" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfAnswer">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Answer" nillable="true" type="tns:Answer" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Answer">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Description" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Explanation" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="IsRight" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="QuestionId" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Serie">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ActivatedAt" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="Description" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ExpiresAt" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="IsActivated" type="s:boolean" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="QuestionCategory">
        <s:restriction base="s:string">
          <s:enumeration value="None" />
          <s:enumeration value="BAY" />
          <s:enumeration value="BIE" />
          <s:enumeration value="FOD" />
          <s:enumeration value="LBK" />
          <s:enumeration value="MUC" />
          <s:enumeration value="SCH" />
        </s:restriction>
      </s:simpleType>
      <s:element name="GetQuiz">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="fingerprint" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="anzahlFragen" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetQuizResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetQuizResult" type="tns:Quiz" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Quiz">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Questions" type="tns:ArrayOfQuestion" />
          <s:element minOccurs="1" maxOccurs="1" name="PointsProAnswer" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfQuestion">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Question" nillable="true" type="tns:Question" />
        </s:sequence>
      </s:complexType>
      <s:element name="ActivateVoucher">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="fingerprint" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="quizId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="code" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ActivateVoucherResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ActivateVoucherResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DischargeVoucher">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="fingerprint" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="quizId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="code" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DischargeVoucherResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="DischargeVoucherResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetMenuLastUpdate">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="fingerprint" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetMenuLastUpdateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetMenuLastUpdateResult" nillable="true" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://microsoft.com/wsdl/types/">
      <s:simpleType name="guid">
        <s:restriction base="s:string">
          <s:pattern value="[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}" />
        </s:restriction>
      </s:simpleType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="TodaysMenuSoapIn">
    <wsdl:part name="parameters" element="tns:TodaysMenu" />
  </wsdl:message>
  <wsdl:message name="TodaysMenuSoapOut">
    <wsdl:part name="parameters" element="tns:TodaysMenuResponse" />
  </wsdl:message>
  <wsdl:message name="CreateReservationSoapIn">
    <wsdl:part name="parameters" element="tns:CreateReservation" />
  </wsdl:message>
  <wsdl:message name="CreateReservationSoapOut">
    <wsdl:part name="parameters" element="tns:CreateReservationResponse" />
  </wsdl:message>
  <wsdl:message name="GetReservationByIdSoapIn">
    <wsdl:part name="parameters" element="tns:GetReservationById" />
  </wsdl:message>
  <wsdl:message name="GetReservationByIdSoapOut">
    <wsdl:part name="parameters" element="tns:GetReservationByIdResponse" />
  </wsdl:message>
  <wsdl:message name="CreateReservationByObjectSoapIn">
    <wsdl:part name="parameters" element="tns:CreateReservationByObject" />
  </wsdl:message>
  <wsdl:message name="CreateReservationByObjectSoapOut">
    <wsdl:part name="parameters" element="tns:CreateReservationByObjectResponse" />
  </wsdl:message>
  <wsdl:message name="SetReservationConfirmSoapIn">
    <wsdl:part name="parameters" element="tns:SetReservationConfirm" />
  </wsdl:message>
  <wsdl:message name="SetReservationConfirmSoapOut">
    <wsdl:part name="parameters" element="tns:SetReservationConfirmResponse" />
  </wsdl:message>
  <wsdl:message name="IsDeclinedByRestaurantSoapIn">
    <wsdl:part name="parameters" element="tns:IsDeclinedByRestaurant" />
  </wsdl:message>
  <wsdl:message name="IsDeclinedByRestaurantSoapOut">
    <wsdl:part name="parameters" element="tns:IsDeclinedByRestaurantResponse" />
  </wsdl:message>
  <wsdl:message name="SetReservationConfirmCustomerSoapIn">
    <wsdl:part name="parameters" element="tns:SetReservationConfirmCustomer" />
  </wsdl:message>
  <wsdl:message name="SetReservationConfirmCustomerSoapOut">
    <wsdl:part name="parameters" element="tns:SetReservationConfirmCustomerResponse" />
  </wsdl:message>
  <wsdl:message name="SetDecliningSoapIn">
    <wsdl:part name="parameters" element="tns:SetDeclining" />
  </wsdl:message>
  <wsdl:message name="SetDecliningSoapOut">
    <wsdl:part name="parameters" element="tns:SetDecliningResponse" />
  </wsdl:message>
  <wsdl:message name="GetReservationsByStatusSoapIn">
    <wsdl:part name="parameters" element="tns:GetReservationsByStatus" />
  </wsdl:message>
  <wsdl:message name="GetReservationsByStatusSoapOut">
    <wsdl:part name="parameters" element="tns:GetReservationsByStatusResponse" />
  </wsdl:message>
  <wsdl:message name="GetEventsSoapIn">
    <wsdl:part name="parameters" element="tns:GetEvents" />
  </wsdl:message>
  <wsdl:message name="GetEventsSoapOut">
    <wsdl:part name="parameters" element="tns:GetEventsResponse" />
  </wsdl:message>
  <wsdl:message name="GetPicturesSoapIn">
    <wsdl:part name="parameters" element="tns:GetPictures" />
  </wsdl:message>
  <wsdl:message name="GetPicturesSoapOut">
    <wsdl:part name="parameters" element="tns:GetPicturesResponse" />
  </wsdl:message>
  <wsdl:message name="GetVideosSoapIn">
    <wsdl:part name="parameters" element="tns:GetVideos" />
  </wsdl:message>
  <wsdl:message name="GetVideosSoapOut">
    <wsdl:part name="parameters" element="tns:GetVideosResponse" />
  </wsdl:message>
  <wsdl:message name="GetQuestionSoapIn">
    <wsdl:part name="parameters" element="tns:GetQuestion" />
  </wsdl:message>
  <wsdl:message name="GetQuestionSoapOut">
    <wsdl:part name="parameters" element="tns:GetQuestionResponse" />
  </wsdl:message>
  <wsdl:message name="GetQuizSoapIn">
    <wsdl:part name="parameters" element="tns:GetQuiz" />
  </wsdl:message>
  <wsdl:message name="GetQuizSoapOut">
    <wsdl:part name="parameters" element="tns:GetQuizResponse" />
  </wsdl:message>
  <wsdl:message name="ActivateVoucherSoapIn">
    <wsdl:part name="parameters" element="tns:ActivateVoucher" />
  </wsdl:message>
  <wsdl:message name="ActivateVoucherSoapOut">
    <wsdl:part name="parameters" element="tns:ActivateVoucherResponse" />
  </wsdl:message>
  <wsdl:message name="DischargeVoucherSoapIn">
    <wsdl:part name="parameters" element="tns:DischargeVoucher" />
  </wsdl:message>
  <wsdl:message name="DischargeVoucherSoapOut">
    <wsdl:part name="parameters" element="tns:DischargeVoucherResponse" />
  </wsdl:message>
  <wsdl:message name="GetMenuLastUpdateSoapIn">
    <wsdl:part name="parameters" element="tns:GetMenuLastUpdate" />
  </wsdl:message>
  <wsdl:message name="GetMenuLastUpdateSoapOut">
    <wsdl:part name="parameters" element="tns:GetMenuLastUpdateResponse" />
  </wsdl:message>
  <wsdl:portType name="Service1Soap">
    <wsdl:operation name="TodaysMenu">
      <wsdl:input message="tns:TodaysMenuSoapIn" />
      <wsdl:output message="tns:TodaysMenuSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CreateReservation">
      <wsdl:input message="tns:CreateReservationSoapIn" />
      <wsdl:output message="tns:CreateReservationSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetReservationById">
      <wsdl:input message="tns:GetReservationByIdSoapIn" />
      <wsdl:output message="tns:GetReservationByIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CreateReservationByObject">
      <wsdl:input message="tns:CreateReservationByObjectSoapIn" />
      <wsdl:output message="tns:CreateReservationByObjectSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetReservationConfirm">
      <wsdl:input message="tns:SetReservationConfirmSoapIn" />
      <wsdl:output message="tns:SetReservationConfirmSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="IsDeclinedByRestaurant">
      <wsdl:input message="tns:IsDeclinedByRestaurantSoapIn" />
      <wsdl:output message="tns:IsDeclinedByRestaurantSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetReservationConfirmCustomer">
      <wsdl:input message="tns:SetReservationConfirmCustomerSoapIn" />
      <wsdl:output message="tns:SetReservationConfirmCustomerSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetDeclining">
      <wsdl:input message="tns:SetDecliningSoapIn" />
      <wsdl:output message="tns:SetDecliningSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetReservationsByStatus">
      <wsdl:input message="tns:GetReservationsByStatusSoapIn" />
      <wsdl:output message="tns:GetReservationsByStatusSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetEvents">
      <wsdl:input message="tns:GetEventsSoapIn" />
      <wsdl:output message="tns:GetEventsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetPictures">
      <wsdl:input message="tns:GetPicturesSoapIn" />
      <wsdl:output message="tns:GetPicturesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetVideos">
      <wsdl:input message="tns:GetVideosSoapIn" />
      <wsdl:output message="tns:GetVideosSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetQuestion">
      <wsdl:input message="tns:GetQuestionSoapIn" />
      <wsdl:output message="tns:GetQuestionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetQuiz">
      <wsdl:input message="tns:GetQuizSoapIn" />
      <wsdl:output message="tns:GetQuizSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ActivateVoucher">
      <wsdl:input message="tns:ActivateVoucherSoapIn" />
      <wsdl:output message="tns:ActivateVoucherSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DischargeVoucher">
      <wsdl:input message="tns:DischargeVoucherSoapIn" />
      <wsdl:output message="tns:DischargeVoucherSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetMenuLastUpdate">
      <wsdl:input message="tns:GetMenuLastUpdateSoapIn" />
      <wsdl:output message="tns:GetMenuLastUpdateSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Service1Soap" type="tns:Service1Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="TodaysMenu">
      <soap:operation soapAction="http://loewenbraeuservice.ip-connect.de/TodaysMenu" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateReservation">
      <soap:operation soapAction="http://loewenbraeuservice.ip-connect.de/CreateReservation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetReservationById">
      <soap:operation soapAction="http://loewenbraeuservice.ip-connect.de/GetReservationById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateReservationByObject">
      <soap:operation soapAction="http://loewenbraeuservice.ip-connect.de/CreateReservationByObject" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetReservationConfirm">
      <soap:operation soapAction="http://loewenbraeuservice.ip-connect.de/SetReservationConfirm" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsDeclinedByRestaurant">
      <soap:operation soapAction="http://loewenbraeuservice.ip-connect.de/IsDeclinedByRestaurant" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetReservationConfirmCustomer">
      <soap:operation soapAction="http://loewenbraeuservice.ip-connect.de/SetReservationConfirmCustomer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetDeclining">
      <soap:operation soapAction="http://loewenbraeuservice.ip-connect.de/SetDeclining" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetReservationsByStatus">
      <soap:operation soapAction="http://loewenbraeuservice.ip-connect.de/GetReservationsByStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEvents">
      <soap:operation soapAction="http://loewenbraeuservice.ip-connect.de/GetEvents" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPictures">
      <soap:operation soapAction="http://loewenbraeuservice.ip-connect.de/GetPictures" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetVideos">
      <soap:operation soapAction="http://loewenbraeuservice.ip-connect.de/GetVideos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetQuestion">
      <soap:operation soapAction="http://loewenbraeuservice.ip-connect.de/GetQuestion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetQuiz">
      <soap:operation soapAction="http://loewenbraeuservice.ip-connect.de/GetQuiz" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActivateVoucher">
      <soap:operation soapAction="http://loewenbraeuservice.ip-connect.de/ActivateVoucher" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DischargeVoucher">
      <soap:operation soapAction="http://loewenbraeuservice.ip-connect.de/DischargeVoucher" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMenuLastUpdate">
      <soap:operation soapAction="http://loewenbraeuservice.ip-connect.de/GetMenuLastUpdate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="Service1Soap12" type="tns:Service1Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="TodaysMenu">
      <soap12:operation soapAction="http://loewenbraeuservice.ip-connect.de/TodaysMenu" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateReservation">
      <soap12:operation soapAction="http://loewenbraeuservice.ip-connect.de/CreateReservation" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetReservationById">
      <soap12:operation soapAction="http://loewenbraeuservice.ip-connect.de/GetReservationById" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateReservationByObject">
      <soap12:operation soapAction="http://loewenbraeuservice.ip-connect.de/CreateReservationByObject" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetReservationConfirm">
      <soap12:operation soapAction="http://loewenbraeuservice.ip-connect.de/SetReservationConfirm" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsDeclinedByRestaurant">
      <soap12:operation soapAction="http://loewenbraeuservice.ip-connect.de/IsDeclinedByRestaurant" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetReservationConfirmCustomer">
      <soap12:operation soapAction="http://loewenbraeuservice.ip-connect.de/SetReservationConfirmCustomer" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetDeclining">
      <soap12:operation soapAction="http://loewenbraeuservice.ip-connect.de/SetDeclining" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetReservationsByStatus">
      <soap12:operation soapAction="http://loewenbraeuservice.ip-connect.de/GetReservationsByStatus" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEvents">
      <soap12:operation soapAction="http://loewenbraeuservice.ip-connect.de/GetEvents" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPictures">
      <soap12:operation soapAction="http://loewenbraeuservice.ip-connect.de/GetPictures" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetVideos">
      <soap12:operation soapAction="http://loewenbraeuservice.ip-connect.de/GetVideos" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetQuestion">
      <soap12:operation soapAction="http://loewenbraeuservice.ip-connect.de/GetQuestion" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetQuiz">
      <soap12:operation soapAction="http://loewenbraeuservice.ip-connect.de/GetQuiz" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActivateVoucher">
      <soap12:operation soapAction="http://loewenbraeuservice.ip-connect.de/ActivateVoucher" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DischargeVoucher">
      <soap12:operation soapAction="http://loewenbraeuservice.ip-connect.de/DischargeVoucher" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMenuLastUpdate">
      <soap12:operation soapAction="http://loewenbraeuservice.ip-connect.de/GetMenuLastUpdate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="Service1Soap" binding="tns:Service1Soap">
      <soap:address location="http://lbkmobile.loewenbraeukeller.com/service/Service1.asmx" />
    </wsdl:port>
    <wsdl:port name="Service1Soap12" binding="tns:Service1Soap12">
      <soap12:address location="http://lbkmobile.loewenbraeukeller.com/service/Service1.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>